
<%= link_to("<< Back to list", {action: 'list'}, class: 'back-link') %>

  <div class="type delete">
    <h1>Delete Type</h1>

  <%= form_for(:type, url: {action: 'destroy', id: @type.id}) do |f| %> 

    <p>Are you sure you want to delete this Gallery?  Doing so will orphan the Categories contained within.</p>
    
    <p class="reference-name"><%= @type.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Gallery") %>
    </div>

  <% end %>

  </div>
