  <div id="left-content" style="width:376px;float:left;">
    <h2>About Us</h2>
      <p class="small">Bo tree source is about people, about cultures, about the beauty of natural elements. It is about looking and learning, and the appreciation of objects with heart. It is about discovery.</p>
      <p class="small">The inspiration for Bo tree Source came from encounters with other cultures. Founders Marion and Bruce Hughes share a lifelong passion for travel, and have spent a great portion of their twenty five years together living in and wandering through the exotic lands of South and Southeast Asia. Marion passed on to Bruce her love for and fascination with textiles. Scouring village and markets for textiles was fun and humbling. Worlds opened up. The objects of culture &ndash; baskets, sarongs, ceremonial carvings, wooden bowls, furniture, ceramics -- became windows into these cultures, into the lives of other people. And the people became teachers, imparting their appreciation of the beauty of their worlds and the meanings of the things into which they poured so much of their time and their hearts.</p>
      <p class="small">What had been a hobby became an obsession. As they continued to travel, Bruce received a master&rsquo;s degree in anthropology. They spent time in research in a Nepalese village, enthralled by the wonder of the high mountains and the openheartedness of their hosts. Their fascination grew; they effused to family and friends. They shared.</p>
      <p class="small">And this led finally to Bo Tree and Bo Tree Source, a venue to share this fascination with friends in the States -- to offer up windows, to spread the heart around. And to have an excuse to go scouring those bazaars.</p>
      <p class="small">Over the years Bo Tree Source has grown. We listened to customers, we added furniture in a modern style, in solid wood, finished by hand. The team has grown. There is Monica, Sergio, Salvador, and Antonio. The philosophy has remained the same &ndash; an emphasis on people, and the beauty of natural elements; a commitment to authenticity and quality, and of fealty to other cultures. A dedication to sharing.</p>
      <p class="small">Bo Tree Source is a place for discovery. A place for us to share our love and fascination for quality furniture, accessories, tribal art and artifacts. </p>
      <p class="small">And in the end, Bo Tree Source is about you, about you finding things that speak to you. About finding and opening new windows on our world.</p>
      <p class="small"><span class="bold">Green Design:</span><br>
        Bo tree source is dedicated to the environment, cultural and physical. Much of what we sell are old pieces, created by hand, one by one, using the materials and tools of their time and place. The new items that we sell are made in small workshops or in cottage industries, mostly still one by one, by hand. We strive to use recycled woods whenever possible, and when not then plantation timber; and support the symbiosis of personal creativity, culture, and environment. We sincerely hope that natural elements brought in a responsible way into our living environments will add warmth to our lives and an appreciation for the beauty and importance of the natural world around us.</p>
  </div>
  <div id="right-content" style="float:left;width:400px;margin-left:24px;">

  <div id="about-1" style="margin-top:5px;"><%= image_tag('about/about-1.jpg') %></div>
  <div id="about-2" style="margin-top:15px;"><%= image_tag('about/about-2.jpg') %></div>
  <div id="about-3" style="margin-top:15px;"><%= image_tag('about/about-3.jpg') %></div>

  </div>
