<style>
h2, h3{
  font-style:italic;
}
</style>

<div id="left-content" style="width:376px;float:left;">
<h2>Petrified Wood</h2>
<p class="small">Bo tree source is excited to share with you a wide variety of petrified wood recently obtained during our trip to Asia.  We scoured to find the best pieces in a an array of styles - blocks, small sphere balls and slices.</p>
<p class="small">You can view our <%= link_to("petrified wood gallery", {controller: 'galleries', action: 'featured'}) %> to see samples of what we have available.  Be sure to check back as we have already put together another shipment set to arrive in June.</p>
<h3>Explanation of Petrified Wood</h3>
<p class="small">Petrified wood quite literally means wood that has turned into stone.  It is essentially a fossilized version of the original wood where minerals transform cells reliant on oxygen.  The petrification process occurs when wood is buried under ground depleting it of oxygen yet preserving its structure.  Mineral rich water flows through the plant cells and they decay naturally.  The final result is a stone mould of the original wood.</p>
<h3>Color</h3>
<p class="small">The vibrant colors seen in petrified wood are the result of minerals found in the soil and water.  The following is a list of examples:</p>
      <ul>
           <li class="small">carbon - black</li>
           <li class="small">chromium - green-blue</li>
           <li class="small">cobalt - green-blue</li>
           <li class="small">copper - green-blue</li>
           <li class="small">iron - red, brown and yellow</li>
           <li class="small">manganese - pink and orange</li>
           <li class="small">manganese oxides - black-yellow</li>
      </ul>
<h3>Age</h3>
<p class="small">It is a little known fact that wood can petrify in as little as one hundred years, but most commercially available petrified wood is extremely old.  Our wood pieces date back millions of years from buried wood found on the Indonesian island of Java.</p>      
<h3>Palmoxylon</h3>
<p class="small">All our wood slices are cuts from the petrified palmwood genus known as palmoxylon.  This extinct species of palmwood is a favorite of rock collectors because of its unique rod-like silica spotting and color variety.  Palmoxylon is also known for its ability to withstand wear and tear because of its rich silica composition.  This durability provides an added benefit to our palmwood slices and blocks.</p>
<p class="small">more info on <a style="color: #800000" href="http://en.wikipedia.org/wiki/Palmoxylon" target="_blank">palmoxylon</a> found at this wikipedia link
</div>
  <div id="right-content" style="float:left;width:400px;margin-left:24px;">

  <div id="featured-1" style="margin-top:5px;"><%= image_tag('featured/featured-1.jpg') %></div>
  <div id="featured-2" style="margin-top:15px;"><%= image_tag('featured/featured-2.jpg') %></div>
  <div id="featured-3" style="margin-top:15px;"><%= image_tag('featured/featured-3.jpg') %></div>

  </div>

