<div id="left-content">

  <h2>Bo Tree Source</h2>

  <p class="small">A direct importer of high quality solid wood furniture and designer accessories with an emphasis on eco friendly green design, organics, ceramics, ethnic art, and contemporary baskets.</p>

  <p class="small bold"><%= link_to("Click Here", {controller: 'types', action: 'recent'}, class: 'link') %> NEW SHIPMENT ARRIVAL</p>

  <p class="small bold"><%= link_to("Featured Product", {controller: 'products', action: 'featured'}) %> Page</p>

  <p class="small bold">Designer Tear Sheets</p>

  <p class="small bold">Upcoming Event Info:<br />
  Bo Tree will be exhibiting at this summer's<br />
  <%= link_to("2013 California Gift Show LACC", "http://www.californiagiftshow.com", class: 'link') %> July 19-22<br />
  LA Convention Center Kentia Hall booth #713</p>

</div>
<div id="right-content">
  <img width="469" height="310" src="/img/homeimage.jpg" alt="picture of the store interior">
</div>

