<!DOCTYPE html>
<html>
<head>
  <title>Bo Tree Source - Los Angeles Wholesale Imported Natural Modern Wood Furniture &amp; Ceramics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Bo Tree Source, Los Angeles, is a direct importer, wholesaler interior design resource for modern, natural furniture & accessories with an emphasis on eco friendly, green, solid wood furniture, tables, wood blocks, natural elements, tribal art, ceramics & baskets." />
  <meta name="keywords" content="los angeles interior design,los angeles furniture, furniture los angeles, culver city furniture, organic furniture, green furniture, green furniture los angeles, green furniture california, nakashima furniture los angeles, conference table, conference tables, benches, consoles, console, table, sofa, tables, sustainable, wood blocks, wood stumps, wood trunks, wood bowls, wooden bowls, modern ceramics, ceramics, ceramics los angeles, pottery los angeles, tribal art, tribal art los angeles, baskets, tribal masks, rustic western furniture, antique tables, antique furniture" />

  <link rel="shortcut icon" href="/img/logo_icon.jpg">
</head>
<body>

<%= yield %>

</body>
</html>
